{% extends 'AcmeMainBundle::layout.html.twig' %}

{% block content %}
<div class="cmsContent">
	<h1>{{ movie.title }}</h1>
	<div><img src="{{ movie.getFullPhoto }}" style="margin-left: 530px; margin-top: 10px; position: absolute; width: 200px;" /></div>
	<p><iframe src="http://www.megustavid.com/e={{ movie.embed }}?w=500&h=500" style="border:0;width:500px;height:500px;" frameborder="0" scrolling="no"></iframe></p>
	<p>{{ movie.text }}</p>
</div>
<div class="cmsContent">
	{% include 'AcmeMainBundle::voteWidget.html.twig' with {'item': movie, 'route': 'movie_vote'} %}
</div>
<div class="cmsContent">
	{% include 'AcmeMainBundle:Comment:showComments.html.twig' with {'comments': movie.comments} %}

	{% if is_granted('ROLE_USER') %}
	<form class="formComment" action="{{ path('movie_comment', {'slug': movie.slug}) }}" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	    <input type="submit" value="komentuj" />
	</form>
	{% else %}
		<div class="noticeUser">
			<a href="{{ path('fos_user_security_login') }}">Zaloguj się</a>, aby móc komentować utwory muzyczne.
		</div>
	{% endif %}
</div>

{{ tinymce_init() }}
{% endblock %}

{% block sideBar %}
	<h2>Wyszukaj</h2>

	<form action="{{ path('category') }}" method="get" {{ form_enctype(form) }}>
	    {{ form_widget(sidebar) }}
	    <input type="submit" value="szukaj" />
	</form>
{% endblock %}
