{% extends 'AcmeMainBundle::layout.html.twig' %}

{% block content %}
<ul id="boxes">
	{% for movie in movies %}
		<li style="height: 380px;">
			<img src="{{ movie.fullPhoto }}" />
			<h2><a href="{{ path('movie_show', {'slug': movie.slug}) }}">{{ movie.title }}</a></h2>
			<small>
				kategorie:
				{% for category in movie.categories %}
					<a href="{{ path('category_movie', {'slug': category.slug}) }}">{{ category.name }}</a>
				{% endfor %}
			</small>
			<p>{{ movie.text|cut(200) }}</p>
			<div class="clearfix"></div>
		</li>
	{% endfor %}
</ul>

<div class="clearfix"></div>

{# display navigation #}
<div class="navigation">
    {{ movies.render()|raw }}
</div>
{% endblock %}

{% block sideBar %}
	<h2>Wyszukaj</h2>
	
	<form action="{{ path('category') }}" method="get" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	    <input type="submit" value="szukaj" />
	</form>
{% endblock %}