{% extends 'AcmeMainBundle::layout.html.twig' %}

{% block content %}
<h1>Znalezione utwory</h1>

<form action="{{ path('track_search') }}" method="get">
<input type="text" name="q" />
<input type="submit" value="Szukaj" />
</form>

<table class="records_list">
    <thead>
        <tr>
            <th>Title</th>
            <th>Key</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in tracks %}
        <tr>
            <td><a href="{{ path('track_show', {'remote': entity.remote}) }}">{{ entity.title }}</a></td>
            <td>{{ entity.remote }}</td>
            <td>
	            <object class="playerpreview" type="application/x-shockwave-flash" data="http://flash-mp3-player.net/medias/player_mp3_maxi.swf" width="200" height="20">
	                <param name="movie" value="http://flash-mp3-player.net/medias/player_mp3_maxi.swf">
	                <param name="FlashVars" value="mp3={{ path('track_download', {'id': entity.remote}) }}&amp;showstop=1&amp;showvolume=1&amp;bgcolor1=189ca8&amp;bgcolor2=085c68">
	                <p>Musique de démonstration.</p>
	            </object>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div id="pagination">
{% if  page != 2 %}
	<a href="{{ path('track_search', {'q': query, 'page': page-2}) }}">Poprzednia strona</a>
{% endif %}
{% if next_page %}
	<a href="{{ path('track_search', {'q': query, 'page': page}) }}">Nastepna strona</a>
{% endif %}
</div>

{% endblock %}