{% extends 'AcmeMainBundle::layout.html.twig' %}

{% block content %}
<h1>Znalezione utwory</h1>

<form action="{{ path('track_search') }}" method="get">
<input type="text" name="q" />
<input type="submit" value="Szukaj" />
</form>

<table class="records_list">
    <thead>
        <tr>
            <th>Title</th>
            <th>Slug</th>
            <th>Key</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in tracks %}
        <tr>
            <td><a href="">{{ entity.title }}</a></td>
            <td>{{ entity.slug }}</td>
            <td>{{ entity.remoteid }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('track_show', { 'slug': entity.slug }) }}">pokaż</a>
                    </li>
                    <li>
                        <a href="{{ path('track_download', { 'slug': entity.slug }) }}">pobierz</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div id="pagination">
{% if  page != 2 %}
	<a href="{{ path('track_search', {'q': query, 'page': page-2}) }}">Poprzednia strona</a>
{% endif %}
{% if next_page %}
	<a href="{{ path('track_search', {'q': query, 'page': page}) }}">Nastepna strona</a>
{% endif %}
</div>

{% endblock %}