{% extends 'AcmeMainBundle::layout.html.twig' %}

{% block title %}
	{{ app.request.query.get('q') }}
{% endblock %}
{% block content %}
<div class="important_notice">
	Jeżeli chcesz dodać utwór do playlisty, przeciągnij ikonkę przy utworze do wybranej przez Ciebie playlisty
</div>
<ul id="boxes" class="movieBox">
	{% for entity in tracks %}
		<li>
			<img src="{{ asset('images/music.png') }}" class="draggable" data-draggable-id="{{ entity.id }}" />
			<h2><a href="{{ path('track_show', {'slug': entity.slug}) }}">{{ entity.title }}</a></h2>
			<div class="clearfix"></div>
		</li>
	{% endfor %}
</ul>

<div class="clearfix"></div>

<div class="navigation">
{% if page != 2 %}
	<span><a href="{{ path('track_search', {'q': query, 'page': page-2}) }}">Poprzednia strona</a></span>
{% endif %}
{% if next_page %}
	<span><a href="{{ path('track_search', {'q': query, 'page': page}) }}">Nastepna strona</a></span>
{% endif %}
</div>

{% endblock %}

{% block sideBar %}
	<h2>Wyszukaj</h2>

	{% include 'AcmeMainBundle:Track:searchForm.html.twig' %}
	{% include 'AcmeMainBundle:Track:playlist.html.twig' %}
{% endblock %}
