{% extends 'AcmeMainBundle::layout.html.twig' %}

{% block content %}
<h1>Track Foound</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Slug</th>
            <td>{{ entity.slug }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Size</th>
            <td>{{ entity.size }}</td>
        </tr>
        <tr>
            <th>Remote Key</th>
            <td>{{ entity.remoteid }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('track') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}
