<ul id="comments">
{% for comment in comments %}
	<li>
		<h3>{{ comment.user }}</h3>
		<span class="actions">
		{% if app.user and app.user.canManageComment(comment) %}
			<span>
				<a href="{{ path('comment_edit', {'id' : comment.id}) }}">edytuj komentarz</a> |
				<a href="{{ path('comment_delete', {'id' : comment.id}) }}">usuń komentarz</a>
			</span>
		{% endif %}
		</span>
		<span class="date">{{ comment.createdAt|date("d/m/Y H:i") }}</span>

		<p class="quote">{{ comment.text|raw }}</p>
	</li>
{% endfor %}
</ul>
